@model List<ArticleVM>
@foreach (var item in Model)
{
    <div class="row m-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>@Html.DisplayFor(modelItem => item.Headline)</h4>
                </div>
                <div class="card-body">
                    <p>@Html.DisplayFor(modelItem => item.Content)</p>
                    <small>Readeable Time : @Html.DisplayFor(modelItem => item.ReadableTime) minutes</small>
                </div>
            </div>
        </div>
    </div>
 

}



