@using Microsoft.AspNetCore.Identity;
@using WebApplication2.Areas.Identity.Data;
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/home.js" asp-append-version="true"></script>
}

    @if (SignInManager.IsSignedIn(User))
    {

    <a asp-action="Create" asp-area="Blog" asp-controller="Article" class="btn btn-primary">Create</a>

    }
    else
    {
       <p>Olmadı</p>
    }

<div id="CreateArticleFormPartial"></div>
<div id="fail"></div>