@using Microsoft.AspNetCore.Identity;
@using WebApplication2.Areas.Identity.Data;
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@section Scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
}

    @if (SignInManager.IsSignedIn(User))
    {

    <button type="button" class="btn btn-outline-primary" onclick="CreateArticle()">Yeni Makale Ekle</button>

    }
    else
    {
       <p>Olmadı</p>
    }

