@using Microsoft.AspNetCore.Identity;
@using WebApplication2.Areas.Identity.Data;
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/home.js" asp-append-version="true"></script>
}

    @if (SignInManager.IsSignedIn(User))
    {

   

    }
    else
    {
       <p>Olmadı</p>
    }

<div id="CreateArticleFormPartial"></div>
<div id="fail"></div>