@using Microsoft.AspNetCore.Identity;
@using WebApplication2.Areas.Identity.Data;
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
      <button></button>
    }
    else
    {
       <p>Olmadı</p>
    }

